body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
	font-family: "Comic Neue", cursive;
}

.postcard {
	background: white;
	width: 500px;
	height: 500px;
	margin: auto;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 60px;
	height: 65px;
	margin-top: 5px;
}

.postcard-header h1 {
	width: 450px;
	height: 60px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: none;
}
.body-left,
.body-right {
	padding: 15px;
	width: 300px;
}

input {
	border: none;
	border-bottom: 1px gray solid;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 5px;
}
